# Python and algorithms

##### Ð¡omplete this part of test without using any libs (your code must not contain keyword 'import')

#### 1. Implement function str_to_dict(some_str) which returnes dictionary, where keys are string characters, and values are their quantity in the string:

<div style="text-align: right">1 point</div>

In [146]:
def str_to_dict(some_str):  
    """
    :param some_str: str
    :return: dict
    """
    arr = list(some_str)
    d = {}
    for key in arr:
        if key is not d.keys:
            value = arr.count(key)
            d[key] = value
    return d

In [147]:
print('Str to dict:', str_to_dict('dataroot_university'))

Str to dict: {'d': 1, 'a': 2, 't': 3, 'r': 2, 'o': 2, '_': 1, 'u': 1, 'n': 1, 'i': 2, 'v': 1, 'e': 1, 's': 1, 'y': 1}

Expected Output: 
<table>
  <tr>
    <td>Str to dict:</td>
    <td> {'d': 1, 'a': 2, 't': 3, 'r': 2, 'o': 2, '_': 1, 'u': 1, 'n': 1, 'i': 2, 'v': 1, 'e': 1, 's': 1, 'y': 1} </td> 
  </tr>

#### 2. Implement function sec_smallest(numbers) which returns second smallest item in the list, without using the built-in sorting methods (your code mustn't contain such words as 'sort', 'sorted'):

<div style="text-align: right">1 point

In [148]:
def sec_smallest(numbers):
    """
    :param numbers: list[int]
    :return: int    
    """
    m = numbers.pop(numbers.index(min(numbers)))
    while m in numbers :
        m = numbers.pop(numbers.index(min(numbers)))
    return min(numbers)

In [149]:
print('Sec_smallest:', sec_smallest([1, 2, -8, -8, -2, 0]))

Sec_smallest: -2

Expected Output: 
<table>
  <tr>
    <td>Sec_smallest:</td>
    <td> -2 </td> 
  </tr>

#### 3. Implement function prime_nums(n) that returns list of numbers which  are simple and < n:

<div style="text-align: right">1 point</div>

In [150]:
def prime_nums(n):
    """
    :param n: int
    :return: list[int]
    """
    if n < 2: return None
    elif n == 2: return 2
    else:
        list = []
        for i in range(2, n):
            a=1
            for j in range(2, i):
                if i%j==0: 
                    a = 0
                    break
            if a: list.append(i)
        return list

In [151]:
print('Prime numbers:', prime_nums(30))

Prime numbers: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

Expected Output:
<table>
  <tr>
    <td>Prime numbers:</td>
    <td>[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]</td>
  </tr>

**4. Implement function max_sum_index(tuples), which returnes index of tuple in the list with maximum sum of elements:**

<div style="text-align: right">1 point</div>

In [152]:
def max_sum_index(tuples):  
    '''
    :param tuples: list[tuple]
    :return: int
    '''
    max = 0
    for i in tuples:
        if max < sum(i): 
            max = sum(i)
            m = tuples.index(i)
    return m

In [153]:
print(max_sum_index([(10, 20), (40, 32), (30, 25)]))

1

Expected Output: 
<table>
  <tr>
    <td>Index:</td>
    <td> 1 </td> 
  </tr>

**5. Implement function gcd(x, y), which returns the greatest common divisor of n and m.**
<div style="text-align: right">1 point</div>

In [154]:
def gcd(x, y):   
    '''
    :params m,n: int
    :return: int
    '''
    list = []
    c=1
    while c:
        c = max(x,y) - min(x,y)
        if c ==0:
            break
        y = min(x,y)
        x = c
    return x

In [155]:
print(gcd(160, 180))

20

Expected Output: 
<table>
  <tr>
    <td>GCD:</td>
    <td> 20 </td> 
  </tr>

#### 6. Implement recursive sum of the list:
<div style="text-align: right">1 point</div>

In [156]:
def recursive_list_sum(data_list):
    """
    :param data_list: list[list]
    """
    s = 0 
    for i in data_list:
        l=i
        if isinstance(i, int) is False:
            l = recursive_list_sum(i)
        s+=l
    return s

In [157]:
print('The sum of a list is ', recursive_list_sum([1, 2, [3,4],[5,6], [7, 8, 9]]))

The sum of a list is  45

Expected Output:
<table>
  <tr>
    <td>The sum of a list is 45</td> 
  </tr>

#### 7. Implement decorator which returns function signature and it's return value:
<div style="text-align: right">1 point</div>

In [299]:
def debug(func):
    """
    :param func: function
    """     
    def f(*args):
        return func.__name__  + str(args) +  " was called and returned " + str(func(*args))
    return f

In [300]:
@debug
def add(a, b):
    return a + b

add(3, 4)

'add(3, 4) was called and returned 7'

Expected Output:
<table>
  <tr>
    <td>'add(3, 4) was called and returned 7'</td>
  </tr>

#### 8. Implement class Conv, that contains method to_roman(self, n), which converts decimal numbers to Roman numerals:

<div style="text-align: right">2 points</div>

In [160]:
class Conv:
    def __init__(self):
        self.val = [
            1000, 900, 500, 400,
            100, 90, 50, 40,
            10, 9, 5, 4, 1
        ]

        self.syb = [
            'M', 'CM', 'D', 'CD',
            'C', 'XC', 'L', 'XL',
            'X', 'IX', 'V', 'IV',
            'I'
        ]
        
    def to_roman(self, num):    
        """
        :param self:
        :param n: int
        :return: str    
        """
        l = []
        for i in self.val:
            a = num // i
            l.append(a)
            num-=a*i
        result = ''
        for i in range(len(self.syb)):
            result+=l[i]*self.syb[i]
        return result

In [161]:
print('Converted:', Conv().to_roman(44))

Converted: XLIV

Expected Output:
<table>
  <tr>
    <td>Converted:</td>
    <td>XLIV</td> 
  </tr>

#### 9. Implement class CombinationsList, that contains method get_combinations(self, my_list), which returns all combinations of elements of given list, including empty element and in order, law of which can be discrovered from the expected output:
<div style="text-align: right">3 points</div>

In [49]:
class CombinationsList:
    @staticmethod
    def get_combinations(my_list):
        """
        :param self:
        :param my_list: list
        :return: list[list]
        """
        def combinations(my_list, r):
            pool = tuple(my_list)
            n = len(pool)
            indices = list(range(r))
            yield tuple(pool[i] for i in indices)
            while True:
                for i in reversed(range(r)):
                    if indices[i] != i + n - r:
                        break
                else:
                    return
                indices[i] += 1
                for j in range(i+1, r):
                    indices[j] = indices[j-1] + 1
                yield tuple(pool[i] for i in indices)
                
        l = [[]]
        for j in range (1, len(my_list) +1):
            for i in combinations(my_list, j):
                l.append(list(i))
        return l

In [50]:
print('Combinations:', CombinationsList().get_combinations([1, 2, 'a']))

Combinations: [[], [1], [2], ['a'], [1, 2], [1, 'a'], [2, 'a'], [1, 2, 'a']]

Expected Output:
<table>
  <tr>
    <td>Combinations:</td>
    <td>[[], [1], [2], ['a'], [1, 2], [1, 'a'], [2, 'a'], [1, 2, 'a']]</td> 
  </tr>

#### 10. Create base class <code>Rocket</code> and it's subclass <code>Shuttle</code>. The parent class contains methods <code>getMission()</code>, <code>addMission()</code> and <code>getName()</code>. The subclass <code>Shuttle</code> contains method <code>getDescription()</code>. Notice that we have not defined <code>getName()</code>, <code>getMission()</code>, <code>addMission()</code> in the <code>Shuttle</code> class but we are still able to access them, because the class <code>Shuttle</code> inherits them from the <code>Rocket</code> class. Use <code>super()</code> method to have ability to call those methods of the base class.
<div style="text-align: right">3 points</div>

In [164]:
class Rocket:

    def __init__(self, name, mission):
        """
        :param name: str
        :param mission: str or list
        """
        # attributes are private to class Rocket
        self.__name = name      
        self.__mission = mission

    def getMission(self): 
        """
        : return str or list
        """
        return self.__mission

    def addMission(self, mission): 
        # procedure method which adds a new mission. There can be one (str) or multiple (list) existing missions
        """
        : param mission: str
        """
        if isinstance(self.__mission, str):
            self.__mission += '|' + mission
            self.__mission = self.__mission.split('|')
        else:
            self.__mission.append(mission)
    

    def getName(self):
        """
        : return str
        """
        return self.__name

    
class Shuttle(Rocket):

    def __init__(self, name, mission, model):
        # call parent constructor to set name and mission  
        """
        :param name: str
        :param mission: str or list
        : param model: str
        """
        super().__init__(name, mission)
        self.__model = model

    def getDescription(self):
        return 'Name: {0}\nModel: {1}\nMissions: {2}'.format(self.getName(), self.__model, str(self.getMission()))

In [165]:
dragon = Shuttle("Crew Dragon", "Dragon 2 pad abort test", "V2")
print(dragon.getDescription(), '\n')
dragon.addMission('Dragon 2 in-flight abort test')
print(dragon.getDescription())

Name: Crew Dragon
Model: V2
Missions: Dragon 2 pad abort test

Name: Crew Dragon
Model: V2
Missions: ['Dragon 2 pad abort test', 'Dragon 2 in-flight abort test']

Expected Output: 

                Name: Crew Dragon
                Model: V2
                Missions: Dragon 2 pad abort test
                
                Name: Crew Dragon
                Model: V2
                Missions: ['Dragon 2 pad abort test', 'Dragon 2 in-flight abort test']